.app {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 40px;
  width: 100%;
  flex: 1 1 auto;
  padding: 16px 40px;

  background-color: rgba(251, 251, 27, 0.3);
  background-image: url('../../images/vintage-and-modern-telephones.jpg');

  background-size: contain;
  background-position: center;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 800px;
  max-width: 100%;
}
