.contactbox {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
  & p {
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #555;
  }
}

.delete-btn {
  background-color: teal;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 4px 4px lightgray;
}
